openapi: 3.1.0
info:
  title: Conference Tracker API
  version: 3.0.0
  description: |
    Conference Tracker의 공개 학회 탐색, Google 로그인, 관심 학회/관심 분야,
    관리자 편집 및 자동 수집 API 명세입니다.

    시간 확정 일정은 UTC ISO 8601로 전달하고 화면에서는 Asia/Seoul로 표시합니다.
    날짜만 확인된 일정은 YYYY-MM-DD로 전달하며 임의의 시간을 생성하지 않습니다.
    자동 수집 결과는 검증 후 먼저 공개되고 관리자 수정값과 HIDDEN 상태는 보호됩니다.
servers:
  - url: https://conference-tracker.sgy5134.chatgpt.site
    description: Production
  - url: http://localhost:3000
    description: Local development
tags:
  - name: Auth
  - name: Conferences
  - name: Catalog
  - name: Profile
  - name: Admin
  - name: Collection

paths:
  /api/auth/google:
    post:
      tags: [Auth]
      summary: Google ID 토큰으로 로그인
      description: 성공하면 HttpOnly ct_session 쿠키를 설정합니다. 동일 Origin 요청만 허용합니다.
      operationId: signInWithGoogle
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleLoginRequest'
      responses:
        '200':
          description: 로그인 성공
          headers:
            Set-Cookie:
              schema: { type: string }
              description: HttpOnly, Secure, SameSite=Lax 세션 쿠키
          content:
            application/json:
              schema:
                type: object
                required: [signed_in]
                properties:
                  signed_in: { type: boolean, const: true }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/ValidationError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

  /api/auth/logout:
    post:
      tags: [Auth]
      summary: 로그아웃
      operationId: signOut
      security:
        - sessionCookie: []
      responses:
        '200':
          description: 로그아웃 성공
          content:
            application/json:
              schema:
                type: object
                required: [signed_out]
                properties:
                  signed_out: { type: boolean, const: true }

  /api/v1/conferences:
    get:
      tags: [Conferences]
      summary: 공개 학회 목록 검색
      operationId: listConferences
      description: research_field_ids는 하나라도 일치하면 포함하는 OR 조건입니다.
      parameters:
        - $ref: '#/components/parameters/SearchQuery'
        - name: region
          in: query
          schema: { $ref: '#/components/schemas/RegionFilter' }
        - name: format
          in: query
          schema: { $ref: '#/components/schemas/ConferenceFormat' }
        - name: research_field_ids
          in: query
          description: 쉼표로 구분한 연구 분야 ID
          schema:
            type: string
            pattern: '^\d+(,\d+)*$'
          example: 7,10
        - name: pinned_only
          in: query
          schema: { type: boolean, default: false }
      responses:
        '200':
          description: 공개 학회 목록
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConferenceListResponse'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalError' }

  /api/v1/conferences/calendar:
    get:
      tags: [Conferences]
      summary: 기간과 겹치는 공개 학회 일정 조회
      operationId: getConferenceCalendar
      parameters:
        - $ref: '#/components/parameters/DateFrom'
        - $ref: '#/components/parameters/DateTo'
      responses:
        '200':
          description: KST 기준 조회 기간과 겹치는 학회
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '500': { $ref: '#/components/responses/InternalError' }

  /api/v1/conferences/{conference_id}:
    get:
      tags: [Conferences]
      summary: 공개 학회 상세 조회
      operationId: getConference
      parameters:
        - $ref: '#/components/parameters/ConferenceId'
      responses:
        '200':
          description: 학회 상세정보
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Conference' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { $ref: '#/components/responses/NotFound' }

  /api/v1/research-fields:
    get:
      tags: [Conferences]
      summary: 활성 ACM CCS 연구 분야 조회
      operationId: listResearchFields
      responses:
        '200':
          description: 연구 분야 목록
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ResearchField' }
        '500': { $ref: '#/components/responses/InternalError' }

  /api/v1/catalog:
    get:
      tags: [Catalog]
      summary: 기준 CSV 학회 카탈로그 조회
      operationId: listCatalog
      parameters:
        - $ref: '#/components/parameters/SearchQuery'
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
        - name: offset
          in: query
          schema: { type: integer, minimum: 0, default: 0 }
      responses:
        '200':
          description: 정규화된 학회 시리즈와 동기화 상태
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CatalogResponse' }
        '500': { $ref: '#/components/responses/InternalError' }

  /api/v1/me:
    get:
      tags: [Profile]
      summary: 내 정보 조회
      operationId: getMyProfile
      security:
        - sessionCookie: []
      responses:
        '200':
          description: 계정, 관심 분야와 관심 학회
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UserProfile' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    patch:
      tags: [Profile]
      summary: 표시 이름과 관심 분야 수정
      operationId: updateMyProfile
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ProfileUpdateRequest' }
      responses:
        '200':
          description: 수정된 프로필
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UserProfile' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /api/v1/me/pins:
    get:
      tags: [Profile]
      summary: 관심 학회 ID 목록 조회
      operationId: listMyPins
      security:
        - sessionCookie: []
      responses:
        '200':
          description: 최근 저장 순 관심 학회 관계
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/Pin' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '500': { $ref: '#/components/responses/InternalError' }

  /api/v1/me/pins/{conference_id}:
    put:
      tags: [Profile]
      summary: 관심 학회 저장
      operationId: addMyPin
      security:
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/ConferenceId'
      responses:
        '201':
          description: 저장된 관심 학회 관계
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Pin' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      tags: [Profile]
      summary: 관심 학회 해제
      operationId: removeMyPin
      security:
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/ConferenceId'
      responses:
        '204': { description: 해제 성공 }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /api/v1/admin/overview:
    get:
      tags: [Admin]
      summary: 관리자 대시보드 통계 조회
      operationId: getAdminOverview
      security:
        - sessionCookie: []
      responses:
        '200':
          description: 운영 통계
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminOverview' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /api/v1/admin/conferences:
    get:
      tags: [Admin]
      summary: 모든 상태의 학회 회차 조회
      operationId: listAdminConferences
      security:
        - sessionCookie: []
      responses:
        '200':
          description: 관리자 학회 목록
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/AdminConferenceSummary' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Admin]
      summary: 학회 회차 직접 등록
      operationId: createConference
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ConferenceDraft' }
      responses:
        '201':
          description: 생성된 학회 편집본
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ConferenceDraft' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /api/v1/admin/conferences/{conference_id}:
    get:
      tags: [Admin]
      summary: 학회 편집본 조회
      operationId: getAdminConference
      security:
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/ConferenceId'
      responses:
        '200':
          description: 분야, 일정, 링크를 포함한 전체 편집본
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ConferenceDraft' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      tags: [Admin]
      summary: 학회와 관계 데이터를 원자적으로 수정
      operationId: updateConference
      description: milestones, links, research_field_ids는 최종 전체 목록을 전달합니다.
      security:
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/ConferenceId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ConferenceDraft' }
      responses:
        '200':
          description: 수정된 학회 편집본
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ConferenceDraft' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /api/v1/admin/source-sites:
    get:
      tags: [Admin]
      summary: 수집 출처 목록 조회
      operationId: listSourceSites
      security:
        - sessionCookie: []
      responses:
        '200':
          description: 수집 출처 목록
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/SourceSite' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Admin]
      summary: 수집 출처 등록
      operationId: createSourceSite
      security:
        - sessionCookie: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SourceSiteInput' }
      responses:
        '201':
          description: 생성된 출처
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SourceSite' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /api/v1/admin/source-sites/{source_site_id}:
    patch:
      tags: [Admin]
      summary: 수집 출처 수정
      operationId: updateSourceSite
      security:
        - sessionCookie: []
      parameters:
        - $ref: '#/components/parameters/SourceSiteId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SourceSiteInput' }
      responses:
        '200':
          description: 수정된 출처
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SourceSite' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /api/v1/admin/catalog/status:
    get:
      tags: [Catalog, Admin]
      summary: 기준 카탈로그 동기화 상태 조회
      operationId: getCatalogSyncStatus
      security:
        - sessionCookie: []
      responses:
        '200':
          description: 카탈로그 동기화 상태
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CatalogStatus' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /api/v1/admin/catalog/sync:
    post:
      tags: [Catalog, Collection]
      summary: 기준 CSV 카탈로그 동기화
      operationId: syncCatalog
      security:
        - sessionCookie: []
        - catalogSyncToken: []
      responses:
        '200':
          description: 동기화 결과
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CatalogSyncResult' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '502': { $ref: '#/components/responses/BadGateway' }

  /api/v1/admin/schedules:
    get:
      tags: [Collection, Admin]
      summary: 일정 수집 피드와 최신 스냅샷 조회
      operationId: listScheduleFeeds
      security:
        - sessionCookie: []
        - scheduleSyncToken: []
      parameters:
        - name: conference_id
          in: query
          schema: { type: integer, minimum: 1 }
      responses:
        '200':
          description: 피드, 수집 상태와 Gemini 설정 여부
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ScheduleFeedResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Collection, Admin]
      summary: 일정 수집 실행 또는 공식 피드 설정
      operationId: runScheduleCollection
      description: |
        ccf 결과에 next_cursor가 있으면 다음 배치를 다시 호출합니다.
        due는 갱신 예정 CCF와 공식 피드를 처리합니다. 세션 기반 변경 요청은 동일 Origin이어야 합니다.
      security:
        - sessionCookie: []
        - scheduleSyncToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ScheduleActionRequest' }
      responses:
        '200':
          description: 실행 또는 설정 결과
          content:
            application/json:
              schema:
                oneOf:
                  - { $ref: '#/components/schemas/CcfSyncResult' }
                  - { $ref: '#/components/schemas/OfficialCollectionResult' }
                  - type: array
                    items: { $ref: '#/components/schemas/DueCollectionResult' }
                  - type: object
                    properties:
                      id: { type: integer }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '502': { $ref: '#/components/responses/BadGateway' }

components:
  securitySchemes:
    sessionCookie:
      type: apiKey
      in: cookie
      name: ct_session
      description: Google 로그인 후 발급되는 HttpOnly 세션 쿠키
    catalogSyncToken:
      type: http
      scheme: bearer
      description: 서버 자동화 전용 CATALOG_SYNC_TOKEN
    scheduleSyncToken:
      type: http
      scheme: bearer
      description: 서버 자동화 전용 SCHEDULE_SYNC_TOKEN

  parameters:
    ConferenceId:
      name: conference_id
      in: path
      required: true
      schema: { type: integer, minimum: 1 }
    SourceSiteId:
      name: source_site_id
      in: path
      required: true
      schema: { type: integer, minimum: 1 }
    SearchQuery:
      name: q
      in: query
      required: false
      schema: { type: string, maxLength: 300 }
      description: 학회명 또는 약어 검색어
    DateFrom:
      name: date_from
      in: query
      required: true
      schema: { type: string, format: date }
      description: KST 기준 시작일, 양끝 포함
    DateTo:
      name: date_to
      in: query
      required: true
      schema: { type: string, format: date }
      description: KST 기준 종료일, 양끝 포함. date_from부터 최대 370일

  responses:
    BadRequest:
      description: 경로 또는 쿼리 파라미터 오류
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Unauthorized:
      description: 로그인이 필요하거나 인증 토큰이 유효하지 않음
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Forbidden:
      description: 관리자 권한 또는 동일 Origin 조건을 충족하지 않음
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    NotFound:
      description: 요청한 리소스를 찾을 수 없음
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    ValidationError:
      description: 요청 본문 검증 실패
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    BadGateway:
      description: 외부 데이터 수집 또는 변환 실패
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    ServiceUnavailable:
      description: 서비스 설정 미완료
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    InternalError:
      description: 서버 내부 오류
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }

  schemas:
    Error:
      type: object
      required: [code, message, trace_id]
      properties:
        code: { type: string, example: VALIDATION_ERROR }
        message: { type: string }
        trace_id: { type: string, minLength: 12, maxLength: 12 }

    GoogleLoginRequest:
      type: object
      required: [credential]
      properties:
        credential:
          type: string
          description: Google Identity Services에서 받은 ID token

    ConferenceFormat:
      type: string
      enum: [ONSITE, ONLINE, HYBRID, UNKNOWN]
    ConferenceStatus:
      type: string
      enum: [DRAFT, PUBLISHED, HIDDEN]
    RegionFilter:
      type: string
      enum: [DOMESTIC, OVERSEAS]
    SourceType:
      type: string
      enum: [API, RSS, WEB_PAGE]
    LinkType:
      type: string
      enum: [HOMEPAGE, SUBMISSION, REGISTRATION, OTHER]

    ResearchField:
      type: object
      required: [id, acm_ccs_code, name_ko, name_en, depth, is_active]
      properties:
        id: { type: integer }
        parent_id: { type: [integer, 'null'] }
        acm_ccs_code: { type: string }
        name_ko: { type: string }
        name_en: { type: string }
        depth: { type: integer, minimum: 0 }
        is_active: { type: boolean }
        is_primary: { type: boolean, description: 관계별 대표 분야 여부 }

    Milestone:
      type: object
      required: [id, type, title, event_at, original_timezone, time_confirmed]
      properties:
        id: { type: integer }
        type:
          type: string
          description: 현재는 OFFICIAL_DATE를 사용하며 공식 일정명을 직접 표시함
        group_name: { type: [string, 'null'], example: Papers }
        title: { type: string, example: Submission Due }
        event_at:
          type: string
          description: 시간 확정 시 UTC date-time, 날짜만 확정 시 YYYY-MM-DD
          examples: ['2026-09-11T11:59:59.000Z', '2027-05-10']
        end_at: { type: [string, 'null'] }
        original_timezone: { type: string, example: AoE }
        time_confirmed: { type: boolean }
        note: { type: [string, 'null'] }
        source_url: { type: [string, 'null'], format: uri }
        source_text: { type: [string, 'null'] }
        source_kind: { type: [string, 'null'], examples: [CCF, OFFICIAL_GEMINI, ADMIN] }
        external_key: { type: [string, 'null'] }
        d_day: { type: integer, readOnly: true }

    ConferenceLink:
      type: object
      required: [type, label, url, is_active]
      properties:
        id: { type: integer, readOnly: true }
        type: { $ref: '#/components/schemas/LinkType' }
        label: { type: string }
        url: { type: string, format: uri }
        is_active: { type: boolean, default: true }

    Conference:
      type: object
      required:
        - id
        - name
        - country_code
        - format
        - status
        - research_fields
        - milestones
        - links
        - is_domestic
        - is_pinned
      properties:
        id: { type: integer }
        name: { type: string }
        acronym: { type: [string, 'null'] }
        edition_year: { type: [integer, 'null'], minimum: 1900, maximum: 2100 }
        description: { type: [string, 'null'] }
        country_code: { type: string, minLength: 2, maxLength: 2, example: US }
        city: { type: [string, 'null'] }
        venue: { type: [string, 'null'] }
        format: { $ref: '#/components/schemas/ConferenceFormat' }
        status: { type: string, const: PUBLISHED }
        last_verified_at: { type: [string, 'null'] }
        research_fields:
          type: array
          items: { $ref: '#/components/schemas/ResearchField' }
        milestones:
          type: array
          items: { $ref: '#/components/schemas/Milestone' }
        links:
          type: array
          items: { $ref: '#/components/schemas/ConferenceLink' }
        is_domestic: { type: boolean }
        is_pinned: { type: boolean }
        d_day: { type: [integer, 'null'] }
        next_milestone:
          oneOf:
            - { $ref: '#/components/schemas/Milestone' }
            - { type: 'null' }

    PageMetadata:
      type: object
      required: [page, size, total_elements, total_pages]
      properties:
        page: { type: integer }
        size: { type: integer }
        total_elements: { type: integer }
        total_pages: { type: integer }
    ConferenceListResponse:
      type: object
      required: [items, page]
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/Conference' }
        page: { $ref: '#/components/schemas/PageMetadata' }
    CalendarResponse:
      type: object
      required: [items, date_from, date_to, timezone]
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/Conference' }
        date_from: { type: string, format: date }
        date_to: { type: string, format: date }
        timezone: { type: string, const: Asia/Seoul }

    Pin:
      type: object
      required: [conference_id]
      properties:
        user_id: { type: integer, readOnly: true }
        conference_id: { type: integer }
        created_at: { type: string, readOnly: true }

    PinnedConference:
      type: object
      required: [id, name, country_code, format, research_fields]
      properties:
        id: { type: integer }
        name: { type: string }
        acronym: { type: [string, 'null'] }
        edition_year: { type: [integer, 'null'] }
        country_code: { type: string }
        format: { $ref: '#/components/schemas/ConferenceFormat' }
        next_milestone_id: { type: [integer, 'null'] }
        next_group_name: { type: [string, 'null'] }
        next_milestone_title: { type: [string, 'null'] }
        next_milestone_at: { type: [string, 'null'] }
        next_milestone_timezone: { type: [string, 'null'] }
        pinned_at: { type: string }
        research_fields:
          type: array
          items: { $ref: '#/components/schemas/ResearchField' }

    UserProfile:
      type: object
      required:
        - id
        - email
        - display_name
        - role
        - created_at
        - research_fields
        - pinned_conference_count
        - pinned_conferences
        - is_admin
      properties:
        id: { type: integer }
        email: { type: string, format: email, readOnly: true }
        display_name: { type: string }
        profile_image_url: { type: [string, 'null'], format: uri, readOnly: true }
        role: { type: string, enum: [MEMBER, ADMIN] }
        is_admin: { type: boolean }
        created_at: { type: string, readOnly: true }
        research_fields:
          type: array
          items: { $ref: '#/components/schemas/ResearchField' }
        pinned_conference_count: { type: integer, minimum: 0 }
        pinned_conferences:
          type: array
          items: { $ref: '#/components/schemas/PinnedConference' }
    ProfileUpdateRequest:
      type: object
      required: [display_name, research_field_ids]
      properties:
        display_name: { type: string, minLength: 1, maxLength: 255 }
        research_field_ids:
          type: array
          uniqueItems: true
          items: { type: integer, minimum: 1 }
        primary_research_field_id: { type: [integer, 'null'], minimum: 1 }

    ConferenceDraft:
      type: object
      required: [name, country_code, format, status, research_field_ids, milestones, links]
      properties:
        id: { type: integer, readOnly: true }
        series_id: { type: [integer, 'null'], readOnly: true }
        name: { type: string, minLength: 1 }
        acronym: { type: [string, 'null'] }
        edition_year: { type: [integer, 'null'], minimum: 1900, maximum: 2100 }
        description: { type: [string, 'null'] }
        country_code: { type: string, minLength: 2, maxLength: 2 }
        city: { type: [string, 'null'] }
        venue: { type: [string, 'null'] }
        format: { $ref: '#/components/schemas/ConferenceFormat' }
        status: { $ref: '#/components/schemas/ConferenceStatus' }
        research_field_ids:
          type: array
          uniqueItems: true
          items: { type: integer, minimum: 1 }
        primary_research_field_id: { type: [integer, 'null'] }
        milestones:
          type: array
          items: { $ref: '#/components/schemas/Milestone' }
        links:
          type: array
          items: { $ref: '#/components/schemas/ConferenceLink' }

    AdminConferenceSummary:
      allOf:
        - $ref: '#/components/schemas/ConferenceDraft'
        - type: object
          properties:
            milestone_count: { type: integer }
            research_field_count: { type: integer }
            next_milestone_at: { type: [string, 'null'] }
            created_at: { type: string }
            updated_at: { type: string }
    AdminOverview:
      type: object
      required: [published_conferences, total_milestones, active_sources]
      properties:
        published_conferences: { type: integer, minimum: 0 }
        total_milestones: { type: integer, minimum: 0 }
        active_sources: { type: integer, minimum: 0 }

    SourceSiteInput:
      type: object
      required: [name, base_url, source_type]
      properties:
        name: { type: string, minLength: 1 }
        base_url: { type: string, format: uri }
        source_type: { $ref: '#/components/schemas/SourceType' }
        is_active: { type: boolean, default: true }
    SourceSite:
      allOf:
        - $ref: '#/components/schemas/SourceSiteInput'
        - type: object
          required: [id, created_at, updated_at]
          properties:
            id: { type: integer }
            last_collected_at: { type: [string, 'null'] }
            created_at: { type: string }
            updated_at: { type: string }

    CatalogSeries:
      type: object
      required: [id, catalog_key, acronym, name, dblp_key, is_active]
      properties:
        id: { type: integer }
        catalog_key: { type: string }
        acronym: { type: string }
        name: { type: string }
        dblp_key: { type: string }
        is_active: { type: boolean }
        source_row_count: { type: integer }
    CatalogStatus:
      type: object
      properties:
        id: { type: integer }
        source_url: { type: string, format: uri }
        status: { type: string, enum: [IDLE, RUNNING, SUCCEEDED, FAILED] }
        row_count: { type: integer }
        active_series_count: { type: integer }
        active_raw_row_count: { type: integer }
        last_synced_at: { type: [string, 'null'] }
        error_message: { type: [string, 'null'] }
    CatalogResponse:
      type: object
      required: [items, total, limit, offset, status]
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/CatalogSeries' }
        total: { type: integer }
        limit: { type: integer }
        offset: { type: integer }
        status: { $ref: '#/components/schemas/CatalogStatus' }
    CatalogSyncResult:
      type: object
      required: [row_count, series_count, merged_row_count]
      properties:
        row_count: { type: integer }
        series_count: { type: integer }
        merged_row_count: { type: integer }

    ScheduleFeed:
      type: object
      required: [id, source_key, kind, url, enabled, status]
      properties:
        id: { type: integer }
        source_key: { type: string }
        conference_id: { type: [integer, 'null'] }
        acronym: { type: [string, 'null'] }
        edition_year: { type: [integer, 'null'] }
        kind: { type: string, enum: [CCF_INDEX, CCF, OFFICIAL] }
        url: { type: string, format: uri }
        enabled: { type: integer, enum: [0, 1] }
        payload: { type: [object, 'null'], additionalProperties: true }
        content_hash: { type: [string, 'null'] }
        last_checked_at: { type: [string, 'null'] }
        last_success_at: { type: [string, 'null'] }
        next_check_at: { type: [string, 'null'] }
        lease_until: { type: [string, 'null'] }
        status: { type: string, enum: [IDLE, RUNNING, READY, SUCCESS, EMPTY, BLOCKED, FAILED] }
        error_message: { type: [string, 'null'] }
    ScheduleFeedResponse:
      type: object
      required: [items, gemini_configured, model]
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/ScheduleFeed' }
        gemini_configured: { type: boolean }
        model: { type: string }
    ScheduleActionRequest:
      oneOf:
        - type: object
          required: [action]
          properties:
            action: { type: string, enum: [ccf, due] }
        - type: object
          required: [action, feed_id]
          properties:
            action: { type: string, const: official }
            feed_id: { type: integer, minimum: 1 }
        - type: object
          required: [action, conference_id, url, enabled]
          properties:
            action: { type: string, const: configure }
            conference_id: { type: integer, minimum: 1 }
            url: { type: string, format: uri, pattern: '^https://' }
            enabled: { type: boolean }
    CcfSyncResult:
      type: object
      required: [next_cursor, editions, schedules, policy, year_from, year_to]
      properties:
        next_cursor: { type: [integer, 'null'] }
        matched_series: { type: integer }
        catalog_without_ccf: { type: array, items: { type: string } }
        editions: { type: integer }
        schedules: { type: integer }
        catalog_series: { type: integer }
        unmatched: { type: array, items: { type: string } }
        errors: { type: array, items: { type: string } }
        policy: { type: string, const: AUTO_PUBLISH_REVIEWABLE_V1 }
        year_from: { type: integer }
        year_to: { type: integer }
    OfficialCollectionResult:
      type: object
      additionalProperties: true
      properties:
        unchanged: { type: boolean }
        milestones: { type: integer }
        warnings: { type: array, items: { type: string } }
    DueCollectionResult:
      type: object
      required: [id, ok]
      properties:
        id: { oneOf: [{ type: integer }, { type: string, const: CCF }] }
        ok: { type: boolean }

